<div class="flex h-full">
    <!-- Sidebar -->
    <div id="sidebar" class="w-[15%] bg-darker text-white h-full flex flex-col relative transition-all flex-1">

        <!-- Tool bar -->
        <div class="h-10 flex items-center justify-start" id="searchbar">

            <!-- search bar -->
            <div class="relative flex items-center w-full text-darker">
                <i class="fas fa-search text-xl text-gray-300 px-4 absolute left-1"></i>
                <input type="text" class="w-full outline-none py-1 px-3 rounded-full mx-2 pl-12 focus:ring-2 border"
                    placeholder="Chercher partout" id="searchbar" (keydown.enter)="searchEverywhere($event)">
            </div>
        </div>


        <div id="chevron"
            class="z-20 absolute bottom-3.5 right-3.5 text-2xl text-accent transition-all cursor-pointer transform"
            (click)="toggleSidebar()">
            <i class="fas fa-chevron-left"></i>
        </div>


        <div id="todo"
            class="action mt-4 mb-2 w-full h-8 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-secondary cursor-pointer select-none"
            routerLinkActive="bg-primary-50 text-secondary font-semibold" routerLink="todo">
            <i class="fas fa-columns mr-5"></i>
            <span class="action-name">
                To do
            </span>
        </div>

        <div class="action w-full mb-2 h-8 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-secondary cursor-pointer select-none"
            routerLinkActive="bg-primary-50 text-secondary font-semibold" routerLink="calendar">
            <i class="fas fa-calendar-alt mr-5"></i>
            <span class="action-name">
                Calendrier
            </span>
        </div>

        <div class="action w-full mb-2 h-8 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-secondary cursor-pointer select-none"
            routerLinkActive="bg-primary-50 text-secondary font-semibold" routerLink="actionlist">
            <i class="fas fa-tasks mr-5"></i>
            <span class="action-name">
                Toutes les actions
            </span>
        </div>

        <div class="action w-full h-8 mb-4 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-secondary cursor-pointer select-none"
            routerLinkActive="bg-primary-50 text-secondary font-semibold" routerLink="projectlist">
            <i class="fas fa-project-diagram mr-3"></i>
            <span class="action-name">
                Tous les projets
            </span>
        </div>

        <ng-scrollbar>
            <h1 class="project-label text-gray-400 mb-8 pl-4 pt-4">Projets en cours</h1>

            <div id="project-list">
                <div class="project h-8 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-primary cursor-pointer select-none"
                    routerLinkActive="bg-primary-50 text-primary font-semibold" [routerLink]="p.id"
                    *ngFor="let p of runningProjects; trackBy:trackByProjectId">

                    <span class="project-tag w-3 h-3 rounded-full mr-2 flex-shrink-0"
                        [ngStyle]="{'background-color':  p.color }"></span>
                    <span class="project-id font-semibold mr-4" [ngStyle]="{'color':  p.color }">{{p.internalid}}</span>
                    <div class="truncate project-name max-w-[200px]">{{p.name}}</div>
                </div>
            </div>

            <h1 class="project-label text-gray-400 mb-8 pl-4 pt-4">Projets en attente</h1>

            <div id="project-list">
                <div class="project h-8 truncate flex items-center pl-4 hover:bg-primary-50 hover:text-primary cursor-pointer select-none"
                    routerLinkActive="bg-primary-50 text-primary font-semibold" [routerLink]="p.id"
                    *ngFor="let p of waitingProjects; trackBy:trackByProjectId">

                    <span class="project-tag w-3 h-3 rounded-full mr-2 flex-shrink-0"
                        [ngStyle]="{'background-color':  p.color }"></span>
                    <span class="project-id font-semibold mr-4" [ngStyle]="{'color':  p.color }">{{p.internalid}}</span>
                    <div class="truncate project-name max-w-[200px]">{{p.name}}</div>
                </div>
            </div>



            <div id="button-wide" class="my-4 w-full text-center">
                <action-button (onClick)="addProject()" text="Ajouter un projet" icon="fa-plus-circle"></action-button>
            </div>

            <div id="button" class="my-4 hidden w-full text-center">
                <action-button (onClick)="addProject()" icon="fa-plus-circle"></action-button>
            </div>
        </ng-scrollbar>
    </div>

    <!-- Content -->
    <div id="content" class="w-[calc(100%-15%)] relative transition-all overflow-auto">

        <div class="w-full h-10 mb-4 flex items-center">

            <div *ngFor="let pin of pins" (click)="goToPin(pin)"
                class="text-xs max-w-[160px] truncate leading-6 rounded-full cursor-pointer px-2 mx-1 first-of-type:ml-12 border-2 border-gray-200 hover:text-primary hover:border-primary-200 text-gray-600">
                <i class="fas fa-thumbtack text-xs -rotate-12 mr-2"></i>
                <span class="font-semibold">{{pin.projectinternalid}}</span> | <span>{{pin.title}}</span>
            </div>

        </div>

        <router-outlet></router-outlet>
    </div>
</div>