<div class="p-12 w-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-12">Suivi</h1>

    <div class="w-full">

        <h2 class="text-gray-400 mt-8 mb-4">En cours</h2>
        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <div class="flex">

                    <div class="flex-grow">
                        <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                        </editable-text>
                    </div>
                    <editable-text placeholder="Acteur" [icon]="false" custom="ring-gray-50">
                    </editable-text>
                </div>
            </div>
        </div>
        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                </editable-text>
            </div>
        </div>
        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                </editable-text>
            </div>
        </div>


        <h2 class="text-gray-400 mt-8 mb-4">Terminé</h2>

        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                </editable-text>
            </div>
        </div>
        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                </editable-text>
            </div>
        </div>
        <div class="flex items-center">
            <div class="rounded-full bg-green-500 w-3 h-3 mr-4"></div>
            <div class="flex-grow">
                <editable-text placeholder="Titre" [icon]="false" custom="ring-gray-50 font-semibold">
                </editable-text>
            </div>
        </div>
    </div>
</div>