<div class="p-12 w-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Notes rapides</h1>
        <sync></sync>
    </div>

    <div class="w-full">

        <div class="flex flex-row my-2">
            <div class="w-52 flex items-center justify-start">
                <action-button text="Ajouter une note" (onClick)="add()" icon="fa-comment-alt"></action-button>
            </div>
        </div>

        <div class="flex flex-col-reverse">
            <div class="flex items-center" *ngFor="let note of project.notes let index=index">
                <div class="flex-grow">
                    <!-- Date -->
                    <div class="text-gray-400 text-sm font-semibold my-2">
                        {{note.date}}
                    </div>
                    <div *ngIf="selectedIndex !== index; else selectedTemplate">
                        <editable-area [(text)]="note.content" (onFinished)="save()">
                        </editable-area>
                    </div>

                    <ng-template #selectedTemplate>
                        <editable-area [(text)]="note.content" (onFinished)="save()" custom="ring-accent">
                        </editable-area>
                    </ng-template>
                </div>

                <div>
                    <i class="fas fa-times-circle text-xl text-red-500 mx-2 cursor-pointer" (click)="delete(index)"></i>
                </div>
            </div>
        </div>
    </div>
</div>