<div class="p-12 w-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-12">Recette</h1>

    <div class="w-full overflow-x-visible">
        <hot-table [settings]="hotSettings" hotId="hotInstance" [afterInit]="onAfterInit">
            <hot-column data="id" title="id"></hot-column>
            <hot-column data="test" title="Test"></hot-column>
            <hot-column data="testdata" title="Données du test"></hot-column>
            <hot-column data="resultexpected" title="Résultat attendu"></hot-column>
            <hot-column data="date" title="Date"></hot-column>
            <hot-column data="result" title="Résultat"></hot-column>
            <hot-column data="comment" title="Commentaire"></hot-column>
        </hot-table>

    </div>
</div>