<div class="p-12 w-full h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-12">Acteurs</h1>

    <div class="w-11/12 mr-auto">
        <table class="w-full border-collapse table-fixed">
            <thead>
                <th class="font-normal text-primary relative table-cell cursor-pointer w-96"
                    (click)="sortBy('name', caretname)">
                    Nom
                    <i #caretname
                        class="fas fa-caret-up absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform"></i>
                </th>
                <th class="font-normal text-primary relative table-cell w-64 cursor-pointer"
                    (click)="sortBy('dga', caretdga)">
                    DGA
                    <i #caretdga
                        class="fas fa-caret-up absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform"></i>
                </th>
                <th class="font-normal text-primary relative table-cell cursor-pointer">
                    Commentaire
                </th>
                <th class="w-20"></th>
            </thead>
            <tbody>
                <tr *ngFor="let actor of project.actors; let index=index">

                    <td class="table-cell">
                        <editable-text [(text)]="actor.name" (onFinished)="save()"></editable-text>
                    </td>
                    <td class="table-cell">
                        <editable-text [(text)]="actor.dga" (onFinished)="save()"></editable-text>
                    </td>
                    <td class="table-cell">
                        <editable-text [(text)]="actor.comment" (onFinished)="save()"></editable-text>
                    </td>

                    <td class="px-4 py-1 text-center">
                        <i class="fas fa-times-circle text-xl text-red-500 mx-2 cursor-pointer"
                            (click)="delete(index)"></i>

                    </td>
                </tr>
                <tr>
                    <td class=" table-cell ">
                        <editable-text [(text)]="newactor.name" placeholder="Nom" (enterPressed)="add()">
                        </editable-text>
                    </td>
                    <td class=" table-cell ">
                        <editable-text [(text)]="newactor.dga" placeholder="DGA" (enterPressed)="add()"></editable-text>
                    </td>
                    <td class=" table-cell ">
                        <editable-text [(text)]="newactor.comment" (enterPressed)="add()">
                        </editable-text>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="flex flex-row mb-2 mt-8 ">
            <div class="w-52 flex items-center justify-start">
                <action-button text="Copier les noms" (onClick)="copyAll()" icon="fa-copy">
                </action-button>
            </div>
        </div>

    </div>
</div>