<div class="p-12 pt-0 w-full h-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Acteurs</h1>
        <sync></sync>
    </div>

    <div class="w-full mr-auto">
        <div class="w-full flex border-b-2  py-2 font-bold">
            <div class="w-72 relative cursor-pointer" (click)="sortBy('name', caretname)">
                Nom
                <i #caretname
                    class="fas fa-caret-up absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform"></i>
            </div>
            <div class="w-52 relative cursor-pointer" (click)="sortBy('dga', caretdga)">
                DGA
                <i #caretdga
                    class="fas fa-caret-up absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform"></i>
            </div>
            <div class="relative cursor-pointer w-96">
                Commentaire
            </div>
            <div class="relative cursor-pointer w-40 flex items-center justify-center"
                (click)="sortBy('type', carettype)">
                Type
                <i #carettype
                    class="fas fa-caret-up absolute right-4 top-1/2 transform -translate-y-1/2 transition-transform"></i>
            </div>
            <div class="relative cursor-pointer w-16 flex items-center justify-center">
                Actions
            </div>
        </div>
        <div class="w-full flex" *ngFor="let actor of project.actors; let index=index">
            <div class="w-72">
                <editable-text [(text)]="actor.name" (onFinished)="save()"></editable-text>
            </div>
            <div class="w-52">
                <editable-text [(text)]="actor.dga" (onFinished)="save()" (enterPressed)="add()">
                </editable-text>
            </div>
            <div class="w-96">
                <editable-text [(text)]=" actor.comment" (onFinished)="save()" (enterPressed)="add()">
                </editable-text>
            </div>
            <div class="w-40 flex items-center justify-center">
                <select-list [options]="actorsType" [(value)]="actor.type" (onSelected)="save()"></select-list>
            </div>
            <div class="w-16 flex items-center justify-center">
                <i class="fas fa-times-circle text-xl text-red-500 mx-2 cursor-pointer" (click)="delete(index)"></i>
            </div>
        </div>

        <table class="w-full border-collapse table-fixed">

            <tbody>
                <tr *ngFor="let actor of project.actors; let index=index">

                    <td class="table-cell">

                    </td>
                    <td class="table-cell">

                    </td>
                    <td class="table-cell">

                    </td>
                    <td class="table-cell text-center">

                    </td>

                    <td class="px-4 py-1 text-center">


                    </td>
                </tr>
            </tbody>
        </table>

        <div class="flex flex-row mb-2 mt-8">

            <div class="flex items-center justify-start mr-4">
                <action-button text="Ajouter" (onClick)="add()" icon="fa-plus-circle">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4">
                <action-button text="Copier les noms" (onClick)="copyAll()" icon="fa-copy">
                </action-button>
            </div>
        </div>

    </div>
</div>