<div #toast
    [ngClass]="{'border-red-500':data.type==='error', 'border-green-500':data.type==='success', 'border-blue-500':data.type==='info'}"
    class="absolute top-2 transform translate-y-1/2 right-0 flex items-center w-full max-w-xs p-4 space-x-4 text-gray-500 bg-white divide-x divide-gray-200 shadow-lg transition-transform translate-x-full duration-200 ease-in-out border-l-4"
    role="alert">
    <i [ngClass]="{'text-red-500':data.type==='error', 'text-green-500':data.type==='success', 'text-blue-500':data.type==='info'}"
        class="fas {{data.icon}} text-xl"></i>
    <div class="pl-4 text-sm text-black font-normal">{{data.content}}</div>
</div>