<div class="p-12 pr-4 w-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Informations Générales</h1>
        <sync></sync>
    </div>

    <div class="w-11/12 mr-auto">
        <!-- Row -->
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Identifiant projet</div>
            <div class="w-full">
                <editable-text placeholder="ID" [(text)]="project.internalid" (onFinished)="save()"></editable-text>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Nom</div>
            <div class="w-full">
                <editable-text placeholder="Nom" [(text)]="project.name" (onFinished)="save()">
                </editable-text>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Statut</div>
            <div class="w-full">
                <select-list [options]="status" [(value)]="project.status" (onSelected)="save()">
                </select-list>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4">Répertoires</h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Portefeuille projet</div>
            <div class="w-[calc(100%-4rem)]">
                <editable-text placeholder="Lien vers le portefeuille projet" [(text)]="project.pplink"
                    (onFinished)="save()"></editable-text>
            </div>
            <div class="w-16 flex items-center justify-center cursor-pointer" (click)="openLink(project.pplink)">
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Répertoire</div>
            <div class="w-[calc(100%-4rem)]">
                <editable-text placeholder="Lien vers le répertoire" [(text)]="project.folder" (onFinished)="save()">
                </editable-text>
            </div>
            <div class="w-16 flex items-center justify-center cursor-pointer" (click)="openFolder(project.folder)">
                <i class="fas fa-external-link-alt"></i>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4">Domaine</h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Domaine</div>
            <div class="w-full">
                <editable-text placeholder="Domaine" [(text)]="project.domain" (onFinished)="save()">
                </editable-text>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Responsable de domaine</div>
            <div class="w-full">
                <editable-text placeholder="Responsable de domaine" [(text)]="project.domain_manager"
                    (onFinished)="save()">
                </editable-text>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4">Dates</h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Date de recette</div>
            <div class="w-full">
                <editable-text placeholder="Date de la recette" [(text)]="project.recette_date" (onFinished)="save()">
                </editable-text>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Date de livraison</div>
            <div class="w-full">
                <editable-text placeholder="Date de VP" [(text)]="project.prod_date" (onFinished)="save()">
                </editable-text>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4">Contexte</h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Description</div>
            <div class="w-full">
                <editable-area [(text)]="project.description" (onFinished)="save()"></editable-area>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4">Divers</h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">ID projet Spira</div>
            <div class="w-full">
                <editable-text placeholder="Nom" [(text)]="project.spira_projectid" (onFinished)="save()">
                </editable-text>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">Couleur</div>
            <div class="w-full">
                <div class="w-8 h-8 cursor-pointer rounded-full" [ngStyle]="{'background-color':  project.color }"
                    (click)="updateColor()">

                </div>
            </div>
        </div>

        <h2 class="text-gray-400 mt-8 mb-4"></h2>
        <div class="flex flex-row mb-2">
            <div class="w-52 pl-4 flex items-center justify-start">
                <action-button text="Supprimer" (onClick)="delete()"></action-button>
            </div>
        </div>
    </div>
</div>