<div class="p-12 pt-0 pr-4 w-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Action en cours</h1>
        <sync></sync>
    </div>

    <div class="w-11/12 mr-auto">

        <div class="flex flex-row mb-2 pl-4">
            <div class="text-sm text-gray-400">
                <i class="fas fa-clock"></i>
                {{action.date}}
            </div>

        </div>

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Nom</div>
            <div class="w-full">
                <editable-text placeholder="Nom" [(text)]="action.name" (onFinished)="save()">
                </editable-text>
            </div>
        </div>

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Provenance</div>
            <div class="w-full">
                <editable-text placeholder="Provenance" [(text)]="action.from" (onFinished)="save()">
                </editable-text>
            </div>
        </div>

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">En attente de</div>
            <div class="w-full">
                <editable-text placeholder="En attente de" [(text)]="action.waitingfor" (onFinished)="save()">
                </editable-text>
            </div>
        </div>

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Details</div>
            <div class="w-full">
                <editable-area [(text)]="action.details" (onFinished)="save()" placeholder="Détails">
                </editable-area>
            </div>
        </div>
        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Réponse</div>
            <div class="w-full">
                <editable-area [(text)]="action.answer" (onFinished)="save()" placeholder="Réponse">
                </editable-area>
            </div>
        </div>

        <div class="flex flex-row mb-2 mt-8">
            <div class="flex items-center justify-start mr-4">
                <action-button text="Retour" (onClick)="goToActions()" icon="fa-arrow-left"
                    custom="bg-indigo-500 hover:bg-indigo-700">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4" *ngIf="action.status === actionStatus.OPEN">
                <action-button text="Clôturer" (onClick)="closeAction()" icon="fa-check-circle">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4" *ngIf="action.status === actionStatus.CLOSED">
                <action-button text="Réouvrir" (onClick)="reopenAction()" icon="fa-redo-alt">
                </action-button>
            </div>
        </div>
    </div>
</div>