<div class="p-12 h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-8">A faire</h1>

    <div class="flex h-[calc(100%-3rem)] overflow-x-au overflow-y-auto space-x-4" cdkDropListGroup>
        <!-- Todo Column -->
        <div class="relative bg-gray-50 p-4 border h-full w-96 min-w-[24rem] overflow-y-auto flex flex-col space-y-2"
            cdkDropList>
            <div class="absolute bottom-5 left-2 text-gray-200 text-5xl select-none">
                A faire
            </div>
            <div cdkDrag class="px-2 pt-2 border bg-white select-none hover:border-primary-200"
                *ngFor="let i of [1,2,3]">
                <div
                    class="inline-flex items-center justify-center rounded-full text-sm text-white px-3 mb-4 bg-primary-200">
                    1734
                </div>
                <textarea class="w-full outline-none px-2" resize placeholder="Ajouter une tâche"></textarea>
            </div>
        </div>

        <!-- Running column -->
        <div class="relative bg-gray-50 p-4 border h-full w-96 min-w-[24rem]" cdkDropList>
            <div class="absolute bottom-5 left-2 text-gray-200 text-5xl select-none">
                En cours
            </div>
        </div>

        <!-- done column -->
        <div class="relative bg-gray-50 p-4 border h-full w-96 min-w-[24rem]" cdkDropList>
            <div class="absolute bottom-5 left-2 text-gray-200 text-5xl select-none">
                Terminé
            </div>
        </div>

    </div>
</div>