<div class="p-12 pt-0 pr-4 w-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Jeux de tests</h1>
        <sync></sync>
    </div>

    <div class="w-full mr-auto">

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Nom</div>
            <div class="w-full">
                <editable-text placeholder="Nom de la feuille de test" [(text)]="testsList.name" (onFinished)="save()">
                </editable-text>
            </div>
        </div>
        <!-- <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-72 pl-4 flex items-center justify-start">Afficher les tests réussis</div>
            <div class="w-full">

                <div class="inline-flex items-center">
                    <input type="checkbox" class="h-4 w-4 cursor-pointer" checked (click)="toggleOkTests()">
                </div>
            </div>
        </div> -->

        <div class="py-4">
            <table class="w-full border-collapse table-fixed">
                <thead>
                    <th class="w-4"></th>
                    <th class="font-normal text-sm text-primary w-60">
                        Catégorie
                    </th>
                    <th class="font-normal text-sm text-primary">
                        Cas testé
                    </th>
                    <th class="font-normal text-sm text-primary w-36">
                        Date
                    </th>
                    <th class="font-normal text-sm text-primary w-60">
                        Résultat attendu
                    </th>
                    <th class="font-normal text-sm text-primary w-32">
                        Status
                    </th>
                    <th class="w-12"></th>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                    <tr *ngFor="let test of testCases;let index=index" cdkDrag class="relative">
                        <th class="w-4 h-full absolute left-0 bg-gray-100 text-gray-400 flex items-center justify-center cursor-move"
                            cdkDragHandle>
                            <i class="fas fa-ellipsis-v"></i>
                        </th>
                        <td class="table-cell">
                            <editable-text [(text)]="test.category" (onFinished)="save()">
                            </editable-text>
                        </td>
                        <td class="table-cell">
                            <editable-text [(text)]="test.name" (onFinished)="save()">
                            </editable-text>
                        </td>
                        <td class="table-cell">
                            <editable-text [(text)]="test.test_date" (onFinished)="save()">
                            </editable-text>
                        </td>
                        <td class="table-cell">
                            <editable-text [(text)]="test.expected_result" (onFinished)="save()">
                            </editable-text>
                        </td>
                        <td class="table-cell text-center">
                            <select-list [options]="status" [(value)]="test.status" (onSelected)="save()"></select-list>
                        </td>
                        <td class="w-12">
                            <i class="fas fa-times-circle text-xl text-red-500 mx-2 cursor-pointer"
                                (click)="delete(index)"></i>
                        </td>
                        <!-- Drag preview -->
                        <div *cdkDragPreview class="px-4 py-2 rounded-lg border bg-white shadow-md">
                            {{test.category}} - {{test.name}}
                        </div>
                    </tr>
                </tbody>
            </table>

            <div class="flex flex-row mb-2 mt-8">
                <div class="flex items-center justify-start mr-4">
                    <action-button text="Ajouter" (onClick)="add()" icon="fa-plus-circle">
                    </action-button>
                </div>
            </div>

        </div>

        <div class="flex flex-row mb-2 mt-8">

            <div class="flex items-center justify-start mr-4">
                <action-button text="Retour" (onClick)="goToTestLists()" icon="fa-arrow-left"
                    custom="bg-indigo-500 hover:bg-indigo-700">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4">
                <action-button text="Exporter" (onClick)="export()" icon="fa-file-export"
                    custom="bg-green-500 hover:bg-green-700">
                </action-button>
            </div>
        </div>
    </div>
</div>