<div class="p-12 pt-0 pr-4 w-full bg-white">
    <div class="flex items-baseline mb-12">
        <h1 class="text-4xl font-bold text-darker">Jeux de tests</h1>
        <sync></sync>
    </div>

    <div class="w-full mr-auto">

        <div class="flex flex-row mb-2">
            <div class="text-gray-400 w-60 pl-4 flex items-center justify-start">Nom</div>
            <div class="w-full">
                <editable-text placeholder="Nom de la feuille de test" [(text)]="testsList.name" (onFinished)="save()">
                </editable-text>
            </div>
        </div>


        <div class="w-full mr-auto">

            <div class="w-full flex border-b-2 py-2 font-bold">
                <div class="w-4">

                </div>
                <div class="w-60">
                    Catégorie
                </div>
                <div class="flex-grow">
                    Cas testé
                </div>
                <div class="w-36 flex items-center justify-center">
                    Date
                </div>
                <div class="w-60 flex items-center justify-center">
                    Résultat attendu
                </div>
                <div class="w-32 flex items-center justify-center">
                    Statut
                </div>
                <th class="w-16">
                    Actions
                </th>
            </div>

            <div class="w-full flex flex-col" cdkDropList (cdkDropListDropped)="drop($event)">

                <ng-container *ngFor="let test of testCases;let index=index">

                    <div cdkDrag class="relative flex items-stretch">

                        <!-- Move handle -->
                        <div class="w-4 bg-gray-100 text-gray-400 flex items-center justify-center cursor-move"
                            cdkDragHandle>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>

                        <div class="w-60">
                            <editable-text [(text)]="test.category" (onFinished)="save()">
                            </editable-text>
                        </div>
                        <div class="flex-grow">
                            <editable-text [(text)]="test.name" (onFinished)="save()">
                            </editable-text>
                        </div>
                        <div class="w-36">
                            <editable-text [(text)]="test.test_date" (onFinished)="save()">
                            </editable-text>
                        </div>
                        <div class="w-60">
                            <editable-text [(text)]="test.expected_result" (onFinished)="save()">
                            </editable-text>
                        </div>
                        <div class="w-32 flex items-center justify-center">
                            <select-list [options]="status" [(value)]="test.status" (onSelected)="save()">
                            </select-list>
                        </div>
                        <!-- Actions -->
                        <div class="w-16 flex items-center justify-center">
                            <i class="fas fa-edit text-xl mx-1 text-gray-400 cursor-pointer"
                                (click)="toggleDetails(index)"></i>

                            <i class="fas fa-times-circle text-xl mx-1 text-red-500 cursor-pointer"
                                (click)="delete(index)"></i>
                        </div>
                        <!-- Drag preview -->
                        <div *cdkDragPreview class="px-4 py-2 rounded-lg border bg-white shadow-md">
                            {{test.category}} - {{test.name}}
                        </div>
                    </div>
                    <div attr.id="details-{{index}}" class="hidden flex-grow flex-col bg-gray-50 pl-12">
                        <div class="flex w-full items-center">
                            <div class="w-44 italic text-gray-400">
                                Résultat obtenu
                            </div>
                            <div class="flex-grow">
                                <editable-text [(text)]="test.obtained_result" (onFinished)="save()">
                                </editable-text>
                            </div>
                        </div>
                        <div class="flex w-full items-center">
                            <div class="w-44 italic text-gray-400">
                                Données de tests
                            </div>
                            <div class="flex-grow">
                                <editable-text [(text)]="test.test_data" (onFinished)="save()">
                                </editable-text>
                            </div>
                        </div>
                        <div class="flex w-full items-center">
                            <div class="w-44 italic text-gray-400">
                                Commentaires
                            </div>
                            <div class="flex-grow">
                                <editable-text [(text)]="test.comments" (onFinished)="save()">
                                </editable-text>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="flex flex-row mb-2 mt-8">
            <div class="flex items-center justify-start mr-4">
                <action-button text="Ajouter" (onClick)="add()" icon="fa-plus-circle">
                </action-button>
            </div>
        </div>

        <div class="flex flex-row mb-2 mt-8">

            <div class="flex items-center justify-start mr-4">
                <action-button text="Retour" (onClick)="goToTestLists()" icon="fa-arrow-left"
                    custom="bg-indigo-500 hover:bg-indigo-700">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4">
                <action-button text="Exporter" (onClick)="export()" icon="fa-file-export"
                    custom="bg-green-500 hover:bg-green-700">
                </action-button>
            </div>
        </div>
    </div>
</div>