<div class="p-12 h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-8">A faire</h1>


    <!-- !! Filters -->
    <div class="flex my-4 space-x-4" *ngIf="options.length > 0">
        <h2 class="text-gray-400">Filtrer par projet</h2>
        <div [ngStyle]="{'background-color':  opt.data.color }" [ngClass]="{'ring-4': opt.label === filterLabel}"
            class="ring-primary-200 select-none filter truncate flex items-center justify-center text-white px-3 rounded-full text-sm hover:bg-indigo-300 cursor-pointer"
            (click)="toggleFilter($event, opt.label)" *ngFor="let opt of options">
            {{opt.label}}
        </div>
    </div>

    <div class="flex h-[calc(100%-4rem)] overflow-y-auto space-x-4" cdkDropListGroup>
        <!-- !! Todo Column -->
        <div class="relative bg-gray-50 p-4 pt-2 border h-full w-96 min-w-[24rem] overflow-y-auto flex flex-col"
            cdkDropListData="todo" (cdkDropListDropped)="drop($event)" cdkDropList>

            <div class="flex items-center mb-4">
                <div class="text-gray-400 font-semibold select-none">
                    A faire
                </div>
                <div class="ml-auto flex items-center justify-center text-gray-500 border w-8 h-8 rounded-md shadow-sm cursor-pointer"
                    (click)="add('todo')">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>

            <!-- !! Task -->
            <div cdkDrag class="px-2 pt-2 border bg-white select-none hover:border-primary-200 my-0.5 group"
                [cdkDragData]="t" *ngFor="let t of todotasks">
                <div class="flex items-center mb-4">
                    <select-list [options]="options" [(value)]="t.projectinternalid"
                        (onSelected)="linkTaskToProjectid(t, $event)"></select-list>
                    <!-- !! delete task -->
                    <div class="group-hover:flex ml-auto hidden items-center justify-center text-red-400 border w-5 h-5 text-sm rounded-md shadow-sm cursor-pointer"
                        (click)="delete(t.id)">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <editable-area custom="!outline-none !px-2 !border-none !pb-0 !ring-0" resize
                    placeholder="Description..." [(text)]="t.content" (onFinished)="update(t)">
                </editable-area>
            </div>
        </div>

        <!-- !! Running column -->
        <div class="relative bg-gray-50 p-4 pt-2 border h-full w-96 min-w-[24rem] overflow-y-auto flex flex-col"
            cdkDropListData="running" (cdkDropListDropped)="drop($event)" cdkDropList>

            <div class="flex items-center mb-4">
                <div class="text-gray-400 font-semibold select-none">
                    En cours
                </div>
                <div class="ml-auto flex items-center justify-center text-gray-500 border w-8 h-8 rounded-md shadow-sm cursor-pointer"
                    (click)="add('running')">
                    <i class="fas fa-plus-circle"></i>
                </div>
            </div>

            <!-- !! Task -->
            <div cdkDrag class="px-2 pt-2 border bg-white select-none hover:border-primary-200 my-0.5 group"
                [cdkDragData]="t" *ngFor="let t of runningtasks">
                <div class="flex items-center mb-4">
                    <select-list [options]="options" [(value)]="t.projectinternalid"
                        (onSelected)="linkTaskToProjectid(t, $event)"></select-list>
                    <!-- !! delete task -->
                    <div class="group-hover:flex ml-auto hidden items-center justify-center text-red-400 border w-5 h-5 text-sm rounded-md shadow-sm cursor-pointer"
                        (click)="delete(t.id)">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <editable-area custom="!outline-none !px-2 !border-none !pb-0 !ring-0" resize
                    placeholder="Description..." [(text)]="t.content" (onFinished)="update(t)">
                </editable-area>
            </div>
        </div>

        <!-- !! Done column -->
        <div class="relative bg-gray-50 p-4 pt-2 border h-full w-96 min-w-[24rem] overflow-y-auto flex flex-col"
            cdkDropListData="done" (cdkDropListDropped)="drop($event)" cdkDropList>

            <div class="flex items-center mb-4">
                <div class="text-gray-400 font-semibold select-none">
                    Terminé
                </div>
            </div>

            <!-- !! Task -->
            <div cdkDrag class="px-2 pt-2 border bg-white select-none hover:border-primary-200 my-0.5 group"
                [cdkDragData]="t" *ngFor="let t of donetasks">
                <div class="flex items-center mb-4">
                    <select-list [options]="options" [(value)]="t.projectinternalid"
                        (onSelected)="linkTaskToProjectid(t, $event)"></select-list>
                    <!-- !! delete task -->
                    <div class="group-hover:flex ml-auto hidden items-center justify-center text-red-400 border w-5 h-5 text-sm rounded-md shadow-sm cursor-pointer"
                        (click)="delete(t.id)">
                        <i class="fas fa-times"></i>
                    </div>
                </div>

                <editable-area custom="!outline-none !px-2 !border-none !pb-0 !ring-0" resize
                    placeholder="Description..." [(text)]="t.content" (onFinished)="update(t)">
                </editable-area>
            </div>
        </div>

    </div>
</div>