<div class="p-12 h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-8">Calendrier</h1>

    <div class="w-full">
        <!-- Calendar on 3 months -->
        <table class="border-collapse border h-[1px]" *ngIf="today">
            <tbody>
                <!-- Month -->
                <tr>
                    <td></td>
                    <td class="border text-center first-letter:capitalize" [attr.colspan]="today.daysInMonth">
                        {{today.monthLong}} {{today.year}}</td>
                </tr>
                <!--  week number -->
                <tr>
                    <td></td>
                    <td class="border text-center" *ngFor="let w of weeks" [attr.colspan]="w.length">
                        {{w[0].weekNumber}}
                    </td>
                </tr>
                <!-- Day number -->
                <tr>
                    <td></td>
                    <ng-container *ngFor="let w of weeks">
                        <td *ngFor="let day of w" class="border text-center"
                            [ngClass]="{'bg-primary-200 text-primary':isToday(day)}">
                            {{day.day}}
                        </td>
                    </ng-container>

                </tr>
                <!-- day name -->
                <tr>
                    <td></td>
                    <ng-container *ngFor="let w of weeks">
                        <td *ngFor="let day of w" class="border text-center text-xs text-gray-200"
                            [ngClass]="{'bg-primary-200 text-primary':isToday(day)}">
                            {{day.weekdayShort}}
                        </td>
                    </ng-container>

                </tr>
                <tr *ngFor="let project of projects" class="h-[1px]">
                    <td class="border w-52">{{project.name}}</td>
                    <ng-container *ngFor="let w of weeks">
                        <td *ngFor="let day of w" class="border w-7 p-0" [ngClass]="{'bg-gray-100 border-none':isWeekend(day),
                            'bg-primary-200 text-primary border-none':isToday(day)}">
                            <project-info [project]="project" [day]="day"></project-info>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>


        <div class="flex flex-row mb-2 mt-8">

            <div class="flex items-center justify-start mr-4">
                <action-button text="Mois précédent" (onClick)="previousMonth()" icon="fa-arrow-left">
                </action-button>
            </div>
            <div class="flex items-center justify-start mr-4">
                <action-button text="Mois prochain" (onClick)="nextMonth()" icon="fa-arrow-right">
                </action-button>
            </div>
        </div>

    </div>

</div>