<div class="p-12 h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-8">Calendrier</h1>

    <div class="w-full">
        <!-- Calendar on 3 months -->
        <table class="border-collapse border">
            <tbody>
                <tr>
                    <td></td>
                    <td colspan="32">Novembre</td>
                </tr>
                <tr>
                    <!--  semaines -->
                    <td></td>
                    <td colspan="5" class="border">43</td>
                    <td colspan="5" class="border">44</td>
                    <td colspan="5" class="border">45</td>
                    <td colspan="5" class="border">46</td>
                </tr>
                <tr>
                    <td></td>
                    <!-- 31 cells -->
                    <td class="border">1</td>
                    <td class="border">2</td>
                    <td class="border">3</td>
                    <td class="border">4</td>
                    <td class="border">5</td>
                    <td class="border">6</td>
                    <td class="border">7</td>
                    <td class="border">8</td>
                    <td class="border">9</td>
                    <td class="border">10</td>
                    <td class="border">11</td>
                    <td class="border">12</td>
                    <td class="border">13</td>
                    <td class="border">14</td>
                    <td class="border">15</td>
                    <td class="border">16</td>
                    <td class="border">17</td>
                    <td class="border">18</td>
                    <td class="border">19</td>
                    <td class="border">20</td>
                    <td class="border">21</td>
                    <td class="border">22</td>
                    <td class="border">23</td>
                    <td class="border">24</td>
                    <td class="border">25</td>
                    <td class="border">26</td>
                    <td class="border">27</td>
                    <td class="border">28</td>
                    <td class="border">29</td>
                    <td class="border">30</td>
                    <td class="border">31</td>
                </tr>
                <tr>
                    <td>Nom du projet</td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                    <td class="border"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>