<div class="p-12 h-full bg-white">
    <h1 class="text-4xl font-bold text-darker mb-8">Calendrier</h1>

    <div class="w-full">
        <!-- Calendar on 3 months -->
        <table class="border-collapse border" *ngIf="today">
            <tbody>
                <tr>
                    <td></td>
                    <td class="border" [attr.colspan]="today.daysInMonth">{{today.monthLong}}</td>
                </tr>
                <tr>
                    <!--  semaines -->
                    <td></td>
                    <td class="border" *ngFor="let w of weeks" [attr.colspan]="w.length">
                        {{w[0].weekNumber}}
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <ng-container *ngFor="let w of weeks">
                        <td *ngFor="let day of w" class="border">
                            {{day.day}}
                        </td>
                    </ng-container>

                </tr>
                <tr *ngFor="let project of projects">
                    <td class="border w-52">{{project.name}}</td>
                    <ng-container *ngFor="let w of weeks">
                        <td *ngFor="let day of w" class="border w-7">
                            <ng-container *ngIf="hasDelivery(project, day)">
                                <div class="bg-secondary rounded-full w-2 h-2"></div>
                            </ng-container>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </div>

</div>