<div class="flex flex-row w-full h-[calc(100%-3.5rem)]">
    <!-- Content -->
    <div class="w-[calc(100%-20rem)]">
        <router-outlet></router-outlet>
    </div>
    <!-- Sidebar -->
    <div class="w-80 h-full text-gray-400 pt-12">

        <div class="w-full h-8 truncate flex items-center pl-4 hover:text-primary cursor-pointer border-l-4 border-transparent mb-2 transition-all"
            routerLinkActive="text-primary !border-primary font-semibold" routerLink="general">Informations générales
        </div>
        <div class="w-full h-8 truncate flex items-center pl-4  hover:text-primary cursor-pointer border-l-4 border-transparent mb-2 transition-all"
            routerLinkActive="text-primary !border-primary font-semibold" routerLink="activities">Activité
        </div>
        <div class="w-full h-8 truncate flex items-center pl-4  hover:text-primary cursor-pointer border-l-4 border-transparent mb-2 transition-all"
            routerLinkActive="text-primary !border-primary font-semibold" routerLink="actors">Acteurs
        </div>
        <div class="w-full h-8 truncate flex items-center pl-4  hover:text-primary cursor-pointer border-l-4 border-transparent mb-2 transition-all"
            routerLinkActive="text-primary !border-primary font-semibold" routerLink="reports">Comptes-rendus
        </div>
        <div class="w-full h-8 truncate flex items-center pl-4  hover:text-primary cursor-pointer border-l-4 border-transparent mb-2 transition-all"
            routerLinkActive="text-primary !border-primary font-semibold" routerLink="notes">Notes rapides
        </div>
    </div>

</div>